.table {
  width: 100%;
  text-align: center;
  margin-top: 30px;
  background: $white;

  > thead > tr > th, > tbody > tr > td {
    padding: 10px;
    border: 1px solid $default;
  }

  > thead > tr > th {
    background: $body-background-color;
  }
}