.line-numbers {
  position: relative;
  margin: 0 0 30px;
  padding: 20px 10px 20px 50px;
  border: 1px solid $medium-gray;
  background-color: #fafafa;
  border-radius: 3px;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    border-right: 1px solid $medium-gray;
  }

  > code {
    line-height: 20px;
  }
}

.numbers {
  position: absolute;
  top: 20px;
  left: 0;
  width: 30px;
}

.number {
  display: block;
  text-align: right;
  color: #ccc;
  line-height: 20px;
}

.copy {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 5;
  padding-left: 12px;
  padding-right: 12px;
  opacity: .6;

  &:hover {
    opacity: .9;
  }
}

.icon-copy {
  display: inline-block;
  vertical-align: top;
  size: 12px;
  background: url("../img/copy.svg") no-repeat center;
  background-size: contain;
  margin: -1px 5px 0 0;
}