.wrap {
  position: fixed 0;
  z-index: 100;
  background-color: $white;
  opacity: 0;
  visibility: hidden;
  transition: .5s;

  &.entering, &.entered {
    opacity: 1;
    visibility: visible;
    transition: 0s;
  }
}

.loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: $primary;
  animation: spin 2s linear infinite;

  &:before, &:after {
    content: '';
    position: absolute;
  }

  &:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $secondary;
    animation: spin 3s linear infinite;
  }

  &:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: $default;
    animation: spin 1.5s linear infinite;
  }
}

@keyframes spin {
  0%   {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}