.footer {
  position: relative;
  padding: 150px 0 100px;
  overflow: hidden;
  margin-top: 30px;
  background-image: linear-gradient(45deg, $purple 0%, $light-blue 51% , $purple 100%);
  background-size: 200% auto;
  text-align: center;
  color: $white;

  @include from-screen-size(md) {
    padding-top: 270px;
  }

  &:after {
    position: absolute;
    content: '';
    height: 100%;
    top: -40px;
    left: -1px;
    right: -1px;
    bottom: -40px;
    z-index: 1;
    background: url("../img/poly-alt.png") top no-repeat;
    background-size: auto 100% !important;

    @include from-screen-size(md) {
      background-size: 100% 100% !important;
    }
  }

  :global(.container) {
    position: relative;
    z-index: 2;
  }
}

.copyright {
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  bottom: 15px;
}